body {
    background-image: url();
    background-size: cover;
}

a{
    color: burlywood;
    font-size: 40px;
    background-color: bisque;
    margin-left: 10px;
}

.Slike img {
    width: 180px;
    height: 180px;
    background-color: bisque;
    margin: 50px;
    margin-top: 10%;
}

.Header{
    background-color: dimgrey;
    width: 800px;
    height: 600px;
    margin-top: 4%;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
}

h2{
    font-size: 80px;
}


